name: Deploy JAVA NOTIFICATION App to VPS (no git)

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Copy files to VPS
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          source: "."
          target: "/home/Cliente/docker-notificacion/notification"

      - name: Restart Docker container
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
           cd /home/Cliente/docker-notificacion/notification
           docker stop notificacion-container || true
           docker rm notificacion-container || true
           docker rmi mi-notificacion || true
           docker build -t mi-notificacion .
           docker run -d --name notificacion-container --network host -p 8091:8091 mi-notificacion
           docker ps -a