name: Deploy JAVA CLIENTE App to VPS (no git)

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Copy files to VPS
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          source: "."
          target: "/home/Cliente/docker-cliente/cliente"

      - name: Restart Docker container
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
           cd /home/Cliente/docker-cliente/cliente
           docker stop cliente-container || true
           docker rm cliente-container || true
           docker rmi mi-cliente || true
           docker build -t mi-cliente .
           docker run -d --name cliente-container --network host -p 8090:8090 mi-cliente
           docker ps -a